<a href="https://colab.research.google.com/github/yestrella14/DS-Unit-1-Sprint-2-Statistics/blob/master/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
### YOUR WORK HERE
import pandas as pd
columnNames=['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
'drive-wheels', 'engine-location', 'wheel-base','length','width', 'height',
'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system',
'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

automobile = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', 
                         header=None, names=columnNames, na_values='?')

In [2]:
automobile.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [3]:
### YOUR WORK HERE
#Creating a sample of the dataframe
auto_sample= automobile.sample(n=10, random_state=30)
auto_sample

     symboling  normalized-losses  ... highway-mpg    price
121          1              154.0  ...          38   6692.0
176         -1               65.0  ...          32  10898.0
24           1              148.0  ...          38   6229.0
88          -1              137.0  ...          30   9279.0
72           3              142.0  ...          18  35056.0
103          0              108.0  ...          25  13499.0
26           1              148.0  ...          38   7609.0
20           0               81.0  ...          43   6575.0
155          0               91.0  ...          32   8778.0
185          2               94.0  ...          34   8195.0

[10 rows x 26 columns]

In [4]:
#Mean of highway-mpg in the df
automobile['highway-mpg'].mean()

30.75121951219512

In [5]:
# 1-sample T-test
#Lets import the library
from scipy.stats import ttest_1samp

In [6]:
#Lets run a 1 sample t test based on the known value of the main df
#That is, the mean of the population highway-mpg equals to 30.75
ttest_1samp(auto_sample['highway-mpg'], 30.75, nan_policy='omit')

Ttest_1sampResult(statistic=0.8917727404948264, pvalue=0.3957307423595724)

In [7]:
#The results above accept the null hypothesis. 
#The p value equals to 0.39 suggest that there is a 39% probability of the sample being completyly random
#That is, that there is no difference between the population mean and the sample mean
#lets print the sample mean to confirm
auto_sample['highway-mpg'].mean()

32.8

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [8]:
### YOUR WORK HERE
#Lets compare the highway-mpg of the sample with a 35 mpg
ttest_1samp(auto_sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [9]:
#The results above accept the null hypothesis. 
#That is, that there is no difference between sample mean and the salesman claim of a fuel efficiencyof 35mpg
#The p-value is greater that 0.05
#lets print the sample mean to confirm their approximation
auto_sample['highway-mpg'].mean()

32.8

In [10]:
ttest_1samp(auto_sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [11]:
### YOUR WORK HERE
#Creating a new sample of 100 cars

autom_100sample = automobile.sample(n=100, random_state=30)

In [12]:
#Lets re run the t test and argue the salesman claim of 35 mpg fuel efficiency
ttest_1samp(autom_100sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [13]:
#The p-value is less than 0.05 therefore, the null hyphothesis is rejected
#There is almost a 0% chance that the sample is completely random
#there is a significant difference between the population average mpg and the sample evaluation of 35mpg as claimed by the salesperson
#Mean of the 100 sample
autom_100sample['highway-mpg'].mean()

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

##The first sample represented a smaller sample of the population. While the second sample, we have a larger population. The larger the sample, the more likely it returns a significant representation of the population. The smaller sample might indicate a completely random representation of the population. The p value tend to decrease as the sample size increases

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [14]:
### YOUR WORK HERE
voting_columns=['Class Name', 'handicapped-infants','water-project-cost-sharing',
'adoption-of-the-budget-resolution','physician-fee-freeze','el-salvador-aid'
'religious-groups-in-schools','anti-satellite-test-ban','aid-to-nicaraguan-contras',
'mx-missile','immigration','synfuels-corporation-cutback','education-spending',
'superfund-right-to-sue','crime', 'duty-free-exports','export-administration-act-south-africa']

voting1980 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data',
                         header=None, names=voting_columns, na_values='?')
voting1980

           Class Name  ... export-administration-act-south-africa
republican          n  ...                                      y
republican          n  ...                                    NaN
democrat          NaN  ...                                      n
democrat            n  ...                                      y
democrat            y  ...                                      y
...               ...  ...                                    ...
republican          n  ...                                      y
democrat            n  ...                                      y
republican          n  ...                                      y
republican          n  ...                                      y
republican          n  ...                                      n

[435 rows x 16 columns]

In [15]:
#Null values?
#If yes, let go back and replace the nulls in the df with NaN instead of any designated symbols
voting1980['Class Name'].value_counts(dropna=False)

n      236
y      187
NaN     12
Name: Class Name, dtype: int64

In [16]:
#Need to update the columns to 0 and 1 instead of "Yes" and "No"
voting1980 = voting1980.replace({'y': 1, 'n':0})
voting1980

            Class Name  ...  export-administration-act-south-africa
republican         0.0  ...                                     1.0
republican         0.0  ...                                     NaN
democrat           NaN  ...                                     0.0
democrat           0.0  ...                                     1.0
democrat           1.0  ...                                     1.0
...                ...  ...                                     ...
republican         0.0  ...                                     1.0
democrat           0.0  ...                                     1.0
republican         0.0  ...                                     1.0
republican         0.0  ...                                     1.0
republican         0.0  ...                                     0.0

[435 rows x 16 columns]

In [17]:
#How many Democrat and How many Republicans
nDemocrat = (voting1980.index=='democrat').sum()
nRepublican = (voting1980.index=='republican').sum()
print('Number of Democrat: '+ str(nDemocrat))
print('Number of Republican: '+ str(nRepublican))

Number of Democrat: 267
Number of Republican: 168

In [18]:
#Lets filter the df by Rep and Dem
rep_1980= voting1980[voting1980.index=='republican']
dem_1980= voting1980[voting1980.index=='democrat']
print(rep_1980.head())
print(dem_1980.head())

            Class Name  ...  export-administration-act-south-africa
republican         0.0  ...                                     1.0
republican         0.0  ...                                     NaN
republican         0.0  ...                                     1.0
republican         0.0  ...                                     1.0
republican         0.0  ...                                     0.0

[5 rows x 16 columns]
          Class Name  ...  export-administration-act-south-africa
democrat         NaN  ...                                     0.0
democrat         0.0  ...                                     1.0
democrat         1.0  ...                                     1.0
democrat         0.0  ...                                     1.0
democrat         0.0  ...                                     1.0

[5 rows x 16 columns]

In [19]:
#how many Republican voted for each issue?
issues_VotesRep=rep_1980.count()
issues_VotesRep

Class Name                                    165
handicapped-infants                           148
water-project-cost-sharing                    164
adoption-of-the-budget-resolution             165
physician-fee-freeze                          165
el-salvador-aidreligious-groups-in-schools    166
anti-satellite-test-ban                       162
aid-to-nicaraguan-contras                     157
mx-missile                                    165
immigration                                   165
synfuels-corporation-cutback                  159
education-spending                            155
superfund-right-to-sue                        158
crime                                         161
duty-free-exports                             156
export-administration-act-south-africa        146
dtype: int64

In [20]:
#how many Democrat voted for each issue?
issues_VotesDem= dem_1980.count()
issues_VotesDem

Class Name                                    258
handicapped-infants                           239
water-project-cost-sharing                    260
adoption-of-the-budget-resolution             259
physician-fee-freeze                          255
el-salvador-aidreligious-groups-in-schools    258
anti-satellite-test-ban                       259
aid-to-nicaraguan-contras                     263
mx-missile                                    248
immigration                                   263
synfuels-corporation-cutback                  255
education-spending                            249
superfund-right-to-sue                        252
crime                                         257
duty-free-exports                             251
export-administration-act-south-africa        185
dtype: int64

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [21]:
### YOUR WORK HERE
#Lets import ttest for independent sample
from scipy.stats import ttest_ind
#Lets find out what are the different issues in the df
dem_1980.columns.value_counts()

adoption-of-the-budget-resolution             1
water-project-cost-sharing                    1
handicapped-infants                           1
mx-missile                                    1
export-administration-act-south-africa        1
physician-fee-freeze                          1
Class Name                                    1
aid-to-nicaraguan-contras                     1
synfuels-corporation-cutback                  1
superfund-right-to-sue                        1
education-spending                            1
el-salvador-aidreligious-groups-in-schools    1
crime                                         1
immigration                                   1
anti-satellite-test-ban                       1
duty-free-exports                             1
dtype: int64

In [22]:
#Maybe create a for loop?
#Save the statistical values for each into a python variable
statValues = []

for issues in dem_1980.columns[:]:
  print(issues)
  #print(dem_1980[[issues]].mean())
  statValues.append(ttest_ind(dem_1980[issues], rep_1980[issues], nan_policy='omit'))
  print(ttest_ind(dem_1980[issues], rep_1980[issues], nan_policy='omit').pvalue)

Class Name
1.613440327937243e-18
handicapped-infants
0.9291556823993485
water-project-cost-sharing
2.0703402795404463e-77
adoption-of-the-budget-resolution
1.994262314074344e-177
physician-fee-freeze
5.600520111729011e-68
el-salvador-aidreligious-groups-in-schools
2.3936722520597287e-20
anti-satellite-test-ban
8.521033017443867e-31
aid-to-nicaraguan-contras
2.82471841372357e-54
mx-missile
5.03079265310811e-47
immigration
0.08330248490425066
synfuels-corporation-cutback
1.5759322301054064e-15
education-spending
1.8834203990450192e-64
superfund-right-to-sue
1.2278581709672758e-34
crime
9.952342705606092e-47
duty-free-exports
5.997697174347365e-32
export-administration-act-south-africa
3.652674361672226e-11

In [23]:
#Lets convert the list of statistic values for each issue into a pandas dataframe and set the index as their respective issue
statValues_df = pd.DataFrame(statValues, index=voting_columns)
statValues_df

                                            statistic         pvalue
Class Name                                   9.205264   1.613440e-18
handicapped-infants                         -0.088965   9.291557e-01
water-project-cost-sharing                  23.212777   2.070340e-77
adoption-of-the-budget-resolution          -49.367082  1.994262e-177
physician-fee-freeze                       -21.136693   5.600520e-68
el-salvador-aidreligious-groups-in-schools  -9.737576   2.393672e-20
anti-satellite-test-ban                     12.526188   8.521033e-31
aid-to-nicaraguan-contras                   18.052093   2.824718e-54
mx-missile                                  16.437503   5.030793e-47
immigration                                 -1.735912   8.330248e-02
synfuels-corporation-cutback                 8.293604   1.575932e-15
education-spending                         -20.500686   1.883420e-64
superfund-right-to-sue                     -13.510643   1.227858e-34
crime                                      -16.342086   9.952343e-47
duty-free-exports                           12.853146   5.997697e-32
export-administration-act-south-africa       6.849455   3.652674e-11

###Null & Alternative Hypothesis

In [24]:
ttest_1samp(rep_1980['export-administration-act-south-africa'], .99, nan_policy='omit')

Ttest_1sampResult(statistic=-8.43651638711145, pvalue=3.032021058588926e-14)

In [25]:
ttest_1samp(dem_1980['export-administration-act-south-africa'], .99, nan_policy='omit')

Ttest_1sampResult(statistic=-3.0217691228789447, pvalue=0.002871040375274814)

In [26]:
ttest_1samp(rep_1980['mx-missile'], .12, nan_policy='omit')

Ttest_1sampResult(statistic=-0.19451750152472927, pvalue=0.8460114425857063)

In [27]:
ttest_1samp(dem_1980['mx-missile'], .10, nan_policy='omit')

Ttest_1sampResult(statistic=24.14983018309529, pvalue=5.743550307027188e-67)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE